<h3>会員情報編集</h3>
<%= form_with model: @customer do |f| %>
<tr>
    <p>氏名</p>
    <%= f.text_field :name_first %> <%= f.text_field :name_second %>
    <p>フリガナ</p>
    <%= f.text_field :name_firdt_rubi %> <%= f.text_field :name_second_rubi %>
    <p>郵便番号</p>
    <%= f.text_field :post_code %>
    <p>住所</p>
    <%= f.text_field :address %>
    <p>電話番号</p>
    <%= f.text_field :tel %>
    <p>メールアドレス</p>
    <%= f.text_field :email %>
    
    <%= f.submit '編集内容を保存'　%>
    <%#= f. '退会する' %>
</tr>
<% end %>