<!DOCTYPE html>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>商品新規登録</h2>
<% if @item.errors.any? %>
  <%= @item.errors.count %>件の未記入がありました
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
            <%= form_with model: @item, url: admin_items_path, method: :post do |item| %>
        <tbody>
          <tr>
            <td>
              <h5>
              商品画像
              　<%= item.file_field :item_image, accept: "image/*", class:"bg-white" %>
              </h5>
            </td>

            <td>
              <h5>
                商品名
                　　<%= item.text_field :name, class:"w-75", placeholder:"商品名" %>
              </h5>
            </td>

            <td>
              <h5>
                 商品説明
              　<%= item.text_field :introduction, class:"w-75", placeholder:"ここに説明文を記述します" %>
              </h5>
            </td>

            <td>
              <h5>
                ジャンル
                　<%= item.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "---"}, class:"w-75" %>
              </h5>
            </td>

            <td>
              <h5>
              税別価格
              　<%= item.text_field :price, class:"w-75", placeholder:"1000" %>円
              </h5>
            </td>

            <td>
              <h5>
               販売ステータス
                <%= item.radio_button :item_status, 0 %>
                販売中
                <%= item.radio_button :item_status, 1 %>
                販売停止中
              </h5>
            </td></br>


               <%= item.submit '新規登録', class:"btn btn-success" %>
          <% end %>
        </tbody>
    </div>
  </div>
</div>