<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">
    
    <p>注文履歴一覧ページ（トップ）</p>
    <table class="table table-striped">
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= order.customer.name_first %> <%= order.customer.name_second %></td>
          <%  @total = 0 %>
            <% order.order_details.each do |order_details| %>
              <% order_details.amount %>
              <% @total = @total+ order_details.amount %>
            <% end %>
          <td><%= @total %></td>
          <td><%= order.order_status %></td>
        </tr>
      <% end %>
    </table>
  </div>
 </div>
</div>
<headder class="fixed-bottom">
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next ></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Last >></a>
    </li>
  </ul>
</nav>
</headder>