<!DOCTYPE html>
<p id="notice"></p>
      <h2>ショッピングカート</h2>
      <div class="container">
        <div class="row">
        <table class="table table-inverse border border-dark">
          <thead class="bg-secondary bg-gradient">
          <tr class="border border-dark">
            <th class="border border-dark">商品名</th>
            <th class="border border-dark">単価(税込み)</th>
            <th class="border border-dark">数量</th>
            <th class="border border-dark">小計</th>
            <th class="border border-dark"></th>
          </tr>
        </thead>

        <tbody>
        <% @cart_item.each do |item| %>
        <% @total = @total+ item.subtotal %>
          <tr>
            <td class="border border-dark"><%= image_tag item.item.get_item_image(50,50) %><%= item.item.name  %></td>
            <td class="border border-dark"><%= item.item.with_tax_price %>円</t>
            <td class="border border-dark"><%= item.amount %></td>
            <td class="border border-dark"><%= item.subtotal %>円</td>
            <td class="border border-dark"><%= link_to '削除する', cart_item_path(item), method: :delete %></td>
          </tr>
        <% end %>
            <td>合計金額</td>
            <td class="text-right"><%= @total%>円</td>
            <%= button_to "選択した商品を全て削除", cart_items_destroy_all_path, method: :delete %>
      </table>



      </div>
      </div>
     <h5><%= link_to '買い物を続ける', items_path, class: "btn btn-secondary" %></h5>
      <h5><%= link_to '情報入力に進む', items_path, class: "btn btn-secondary" %></h5>
    </div>
  </div>
  </div>
</div>