<h2>オーダー一覧</h2>

<table class="table">
  <tr>
    <th>商品名</th>
    <th>単価</th>
    <th>数量</th>
    <th>小計</th>
  </tr>


  <tr>
    <% @cart_items.each do |cart_item| %>
    <th><%= cart_item.item.name %></th>
    <th><%= cart_item.item.with_tax_price %>円</th>
    <th><%= cart_item.amount %></th>
    <th><%= cart_item.subtotal %>円</th>
    <% @total = @total+ cart_item.subtotal %>
    </tr>
  <% end %>
</table>

  <tr>送料 800</tr><br>
  <tr>商品合計  <%= @total %></tr><br>
  <tr>請求金額  <%= @total+ 800 %></tr><br>
  <th>支払方法 <%= @order.payment_method_i18n %></th><br>
  <th>お届け先 <%= @order.address_display %></th><br>
<%= form_with model:@order, method: :post, local: true do |f| %>
  <%= f.hidden_field :billing, :value => @total+800 %>
  <%= f.hidden_field :payment_method, :value => @order.payment_method %>
  <%= f.hidden_field :postal_code, :value =>@order.postal_code %>
  <%= f.hidden_field :address, :value =>@order.address %>
  <%= f.hidden_field :name, :value =>@order.name %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>