<%= image_tag @item.get_item_image(100,100) %>

<h3><%= @item.name %></h3>

<p><%= @item.introduction %></p>

<h3><%= @item.price %></h3>

 <%= @items.select :amount, [['1', 1], ['2',2], ['3',3], ['4',4], ['5',5]] %>

<%= link_to 'カートに入れる', cart_item_path, class: "btn btn-secondary" %>