<%= @item.image_tag item.image, size: "200x200" %>

<h3><%= @item.name %></h3>

<p><%= @item.body %></p>

<h3><%= @item.price %></h3>

<%= f.select :number,[['1', 1],['2',2],['3',3],['4',4],['5',5]] %>

<%= link_to 'カートに入れる', cart_item_path, class: "btn btn-secondary" %>