<!DOCTYPE html>
<p id="notice"></p>
<div class="container">
  <div class="row">
      <h2>お買い物商品</h2>
</div>

<div class="container">
   <div>

   </div>


      <tbody>
   <div class=" col-lg-5  px-sm-0 mx-auto">
   <%= image_tag @item.get_item_image(100,100) %>
        <tr>
          <td>
             <h5>
             商品名　<%= @item.name %>
             </h5>
           </td>

      <tbody>
        <tr>
          <td>
             <h5>
             商品名　<%= @item.introduction %>
             </h5>
           </td>

      <tbody>
        <tr>
          <td>
             <h5>
             <%= @item.price %>
             </h5>
           </td>


<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
<%#　実際に入力しないで保存するものをhiddenで記入する　%>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.hidden_field :customer_id, :value => current_customer.id %>
 <%= f.select :amount, [1,2, 3, 4, 5] %>
 <%= f.submit "カートに入れる", class: "btn btn-sm btn-primary" %>
<% end %>
