<%= image_tag @item.get_item_image(100,100) %>

<h3><%= @item.name %></h3>
<p><%= @item.introduction %></p>

<h3><%= @item.price %></h3>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
<%#　実際に入力しないで保存するものをhiddenで記入する　%>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.hidden_field :customer_id, :value => current_customer.id %>
 <%= f.select :amount, [1,2, 3, 4, 5] %>
 <%= f.submit "カートに入れる", class: "btn btn-secondary" %>
<% end %>
